pep8==1.7.0
pyflakes==1.3.0
# for compare script
elasticsearch==5.0.1
aiohttp==1.1.6
yarl==0.7.1
pytest==3.0.5
pytest-cov==2.4.0
pytest-aiohttp==0.1.2
pytest-sugar==0.7.1
sphinx==1.5
docker-py==1.10.6
-e .
