# main deps
aiohttp==2.0.7
yarl==0.10.0

flake8==3.3.0
# for compare script
elasticsearch==5.3.0
pytest==3.0.7
pytest-cov==2.5.1
pytest-aiohttp==0.1.3
# pytest-sugar==0.8.0
sphinx==1.5.5
sphinxcontrib-spelling==2.3.0
docker-py==1.10.6
-e .
